{% extends "base.html"%}       

 {% block content%}
     <head>
         <style>
          .error {color:red;}
          br {margin-bottom: 20px;}
         </style>
     </head>           
       
       <h1>Signup</h1>
        <form action='/sign-up' method = 'POST'>
            <label>Username: 
                <input name="user-name" type = "text" value ='{{username}}'/>
            </label>

            <input type="submit" value ="Submit"/>
        </form>
        <hr />

{%endblock%}
