 {% extends "base.html"}       

 {% block content%}
                
        <form>
        <style>
         br {margin-bottom:20px;}
        </style>
        <form method = 'POST'>
            <label>type = text 
                <input name="user-name" type = "text"/>
            </label>
            <br>
            <label>type = password
                <input name="user-password" type="password"/>
            </label>
            <br>
            <label>
                <input name="user-password" type="password"/>
            </label>
            <br>
            <label>type = text
                <input name="user-email" type="text"/> 
            </label>
            <br>
            <input type="submit"/>
        </form>

{%endblock%}
